UPSTASH_REDIS_REST_URL="https://example.upstash.io"
UPSTASH_REDIS_REST_TOKEN="token_here"
CMUDICT_SRC_URL="github_repo_commit"
NEXT_PUBLIC_BUCKET_URL="bucket_url"
GOOGLE_SITE_VERIFICATION="site_verification"
DATABASE_URL="database_url"